@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1 {
    font-family: 'Roboto', sans-serif; font-size: 1.8rem;
}

h2 {
    font-family: 'Roboto', sans-serif; font-size: 1.5rem;
}

html {
    font-family: 'Mitr', sans-serif; font-size: calc(15px + 0.390625vw);
}


