@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Kanit', sans-serif; font-size: calc(14px + 0.390625vw);
}

h1 {
    font-family: 'Roboto', sans-serif; color: FireBrick; font-size: 10vw;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

div.example {
  background-color: lightgrey;
  padding: 20px;
}

@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
