@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1 {
    font-family: 'Roboto', sans-serif; font-size:4vw;
}

h2 {
    font-family: 'Roboto', sans-serif; font-size: 1.3rem;
}

html {
    font-family: 'Kanit', sans-serif; font-size: calc(12px + 0.390625vw);
} 

/* Style the header */
.header {
  padding: 0px 0px;
  background: #ba1917;
  color: #f1f1f1;
}

/* Page content */
.content {
   /* padding: 16px; */
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  /* padding-top: 102px;*/
}
